* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}
	body{
		background-color: white;
		margin: 0 auto;
	}
	.top-header{
		background-color: #fbfbfb;
		width:970px;
		height:40px;
		padding-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	h1{
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-size: 36px;
		display: inline-block;
		padding-left: 20px;
	}
	h2{
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-size: 28px;
		display: inline-block;
		margin-left: 235px;
	}
	#main-container{
		background-image: linear-gradient(-45deg, #1f0f13, #6f5964, #1f0f13);
		width: 970px;
		height: 990px;
		margin-left: auto;
		margin-right: auto;
	}
	.my-pic{
		width: 450px;
		margin: 20px;
		border: 5px solid #c0c0c0;	
	}
	.box-aboutme{
		background-color: rgb(221, 221, 221);
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 14px;
		width: 420px;
		height: 275.05px;
		margin-top: 30px;
		padding: 10px;
		display: inline-block;
		vertical-align: top;
	}
	.about-head{
		background-image: linear-gradient(#adadb2, #878593, #adadb2);
		height: 30px;
		width: 420px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		margin: -20px 0px 0px -10px;
		padding: 10px;
		color: white;
		display: inline-block;
		vertical-align: top;
	}
	.lamode-pic, .fam-pic, .five-Elv{
		display: inline-block;
		vertical-align: top;
		width: 290px;
		margin-left: -10px;
		border-bottom: 10px solid rgba(255, 255, 255, 0.007);
	}
	.laMode, .famContact, .fiveEleven{
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 14px;
		width: 270px;
		height: 400px;
		background-color: rgb(221, 221, 221);
		padding: 10px;
		display: inline-block;
		vertical-align: top;
	}
	.laMode{
		margin: 0px 0px 0px 20px;
	}
	.famContact{
		margin: 0px 22px 0px 25px;
	}
	.fiveEleven{
		margin: 0px 22px 0px 0px;
	}
	.lm-head{
		background-image: linear-gradient(#adadb2, #878593, #adadb2);
		height: 30px;
		width: 280px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		color: white;
		padding: 10px 0px 0px 10px;
		margin: -10px -10px 0px -10px;
	}
	.lm-head2, .lm-head3, .lm-head4{
		background-image: linear-gradient(#adadb2, #878593, #adadb2);
		height: 25px;
		width: 285px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		color: white;
		display: inline-block;
		vertical-align: top;
		padding-top: 5px;
		padding-left: 5px;
		margin: 0px,20px,20px,20px;
	}
	.lm-head2{
		margin-left: 20px;
	}
	.lm-head3{
		margin-left: 25px;
	}
	.lm-head4{
		margin-left: 22px;
	}
	.tech-box1, .tech-box2, .tech-box3{
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 14px;
		width: 290px;
		height: 160px;
		background-color: rgb(221, 221, 221);
		display: inline-block;
		vertical-align: top;
		margin: 0px,20px,20px,20px;
	}
	.tech-box1{
		margin-left: 20px;
	}
	.tech-box2{
		margin-left: 25px;
	}
	.tech-box3{
		margin-left: 22px;
	}
	.dev-logos{
		width: 40px;
		height: 40px;
		margin-top: 10px;
		margin-bottom: 5px;
		margin-left: 13px;
		display: inline-block;
		vertical-align: top;
	}
	.tech-button1, .tech-button2, .tech-button3{
		background-color: #407d61;
		border: 1px solid black;
		height: 20px;
		border-radius: 10px;
		font-weight: 700;
		font-size: 10px;
		text-align: center;
		padding: 0px 5px;
		display: inline-block;
		box-shadow: 3px 3px 8px #4d4d4d;
	}
		.tech-button1{
			margin-top: 15px;
			margin-left: 40%;
		}
		.tech-button2{
			margin-top: 15px;
			margin-left: 35%;
		}
		.tech-button3{
			margin-top: 15px;
			margin-left: 40%;
		}
		.bottom-bar{
			background-color: #fbfbfb;
			width: 965px;
			height: 70px;
			text-align: center;
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;
			font-size: 14px; 
			padding: 5px;
			margin-left: auto;
			margin-right: auto;
		}
		.social-media{
			width: 10px;
			height: 10px;
		}